body {
  background-color: white;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  height: 100px;
  padding-left: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 25px;
}

li {
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.xl-photo {
  background-image: url("https://i.ibb.co/CtXn2kT/Feminism-Is-The-Future.png");
  width: 100%;
  height: 750px;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.print-work {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.print-work-1 {
  background-image: url("https://i.ibb.co/nCjr09g/the-future-is-feminism-postcard.png");
  background-size: cover;
  width: 250px;
  height: 250px;
  padding: 25px;
}

.print-work-2 {
  background-image: url("https://i.ibb.co/NCkRpkv/BELA-handbook.png");
  background-size: cover;
  width: 250px;
  height: 250px;
  padding: 25px;
}

.print-work-3 {
  background-image: url("https://i.ibb.co/FH2MsTY/06.png");
  background-size: cover;
  width: 250px;
  height: 250px;
  padding: 25px;
}

.illustration {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.illustration-1 {
  background-image: url("https://i.ibb.co/S0vqHqh/Jurassic-Park-Woman-inherits-earth.png");
  background-size: cover;
  width: 250px;
  height: 250px;
  padding: 25px;
}

.illustration-2 {
  background-image: url("https://i.ibb.co/R4S0NTk/cardi-b-blog.jpg");
  background-size: cover;
  width: 250px;
  height: 250px;
  padding: 25px;
}

.illustration-3 {
  background-image: url("https://i.ibb.co/2KM4ZKV/Screen-Shot-2020-10-07-at-11-17-14-PM.png");
  background-size: cover;
  width: 250px;
  height: 250px;
  padding: 25px;
}

.button {
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  text-align: center;
  padding: 15px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 50px auto;
}

footer {
  background-color: lightgray;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer-links {
  display: flex;
  align-items: center;
}

.instagram {
  background-image: url("https://i.ibb.co/tHHQRHp/instagram.png");
  background-size: cover;
  background-position: center center;
  width: 28px;
  height: 28px;
}

.twitter {
  background-image: url("https://i.ibb.co/7tPgFGx/twitter-1.png");
  background-size: cover;
  background-position: center center;
  width: 28px;
  height: 28px;
}

.email {
  background-image: url("https://i.ibb.co/QDVPPBh/mail.png");
  background-size: cover;
  background-position: center center;
  width: 28px;
  height: 28px;
}

footer ul {
  list-style: none;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0px;
}

footer li {
  margin: 0px 10px;
}

.copyright li {
  font-size: 10px;
  font-weight: bold;
}

@media (min-width: 550px) {
}
